{% extends "layout.html" %}
{% block content %}
    <div class="container">
    <h2>Book name: {{ book_info['title'] }} by {{ book_info['author'] }}</h2>
        {% if reviews %}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Review</th>
                    <th>Name</th>
                    <th>Post Date</th>
                </tr>
                </thead>
                <tbody>

                {% for review in reviews %}
                    <tr>
                        <td>{{ review['body'] }}</td>
                        <td>{{ review['name'] }}</td>
                        <td>{{ review['created'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No reviews for this book yet.</p>
        {% endif %}
    {% if g.user %}
        <form method="post">
            <div class="form-group">
                <label for="body">Write Review:</label>
                <input class="form-control" type="text" name="body" id="body" required>
            </div>
            <button type="submit" class="btn btn-primary">Post a review</button>
        </form>
    {% endif %}
    </div>


{% endblock %}