{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <p><strong>Book:</strong> <i>{{ book_info['title'] }}</i>
            by <i>{{ book_info['author'] }}</i></p>
        <p><strong>ISBN:</strong> {{ book_info['isbn'] }}</p>
        <p><strong>Release Year:</strong> {{ book_info['year'] }}</p>

        <hr style="border:3px solid #f1f1f1">
        <span class="heading">Bookrealm Rating</span>
        {% if review_stats['avg_rating'] %}
            {% for i in range(review_stats['avg_rating']|round|int) %}
                <span class="fa fa-star checked"></span>
            {% endfor %}
            {% for i in range(5-review_stats['avg_rating']|round|int) %}
                <span class="fa fa-star"></span>
            {% endfor %}

            <p>{{ review_stats['avg_rating'] }} average based on {{ review_stats['count'] }} reviews.</p>
        {% else %}
            <p>No reviews on Bookrealm yet, maybe write your own?</p>
        {% endif %}


        <hr style="border:3px solid #f1f1f1">

        <span class="heading">Goodreads Rating</span>
        {% if gr_book_info['average_rating'] %}
            {% for i in range(gr_book_info['average_rating']|float|round|int) %}
                <span class="fa fa-star checked"></span>
            {% endfor %}
            {% for i in range(5-gr_book_info['average_rating']|float|round|int) %}
                <span class="fa fa-star"></span>
            {% endfor %}


            <p>{{ gr_book_info['average_rating'] }} average based on {{ gr_book_info['work_ratings_count'] }} reviews.</p>
        {% else %}
            <p>No reviews on Bookrealm yet, maybe write your own?</p>
        {% endif %}



        <h5 class="mb-0 pl-3">Book Reviews:</h5>
        {% if reviews %}
            {% for review in reviews %}
                <hr style="border:3px solid #f1f1f1">
                <span>{{ review['name'] }} rated </span>
                {% for i in range(review['rating']|int) %}
                    <span class="fa fa-star checked"></span>
                {% endfor %}
                {% for i in range(5-review['rating']|int) %}
                    <span class="fa fa-star"></span>
                {% endfor %}
                <span>on {{ review['created'].strftime("%m/%d/%Y, %H:%M GMT") }}</span>
                <p>{{ review['body'] }}</p>
            {% endfor %}
        {% else %}
            <p>No reviews for this book yet.</p>
        {% endif %}
        {% if g.user %}
            <form method="post">
                <div class="form-group">
                    <label for="body">Write Review:</label>
                    <textarea class="form-control" rows="5" name="body" id="body" required></textarea>
                    <label for="rating">Select a rating:</label>
                    <select class="form-control" id="rating" name="rating">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                    <hr>
                    <button type="submit" class="btn btn-primary">Post a review</button>
                </div>
            </form>
        {% endif %}
    </div>


{% endblock %}