{% extends "layout.html" %}
{% block content %}
    <div class="container" style="margin: 50px">
    <form method="post">
        <div class="form-group">
        <label for="query">Search:</label>
        <input class="form-control" type="text" name="query" id="query" required>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ISBN</th>
            <th>Title</th>
            <th>Author</th>
            <th>Year</th>
        </tr>
        </thead>
        <tbody>
        {% if books %}
        {% for book in books %}
        <tr>
            <td>{{ book['isbn'] }}</td>
            <td>{{ book['title'] }}</td>
            <td>{{ book['author'] }}</td>
            <td>{{ book['year'] }}</td>
        </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
    </div>

{% endblock %}