{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 centered">
                <form method="post">
                    <div class="form-group">
                        <label for="query">Search:</label>
                        <input class="form-control" type="text" name="query" id="query" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
                <hr>
                {% if books %}
                    <table id="myTable" class="table table-striped">
                        <thead>
                        <tr>
                            <th>ISBN</th>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Year</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for book in books %}
                            <tr>
                                <td>{{ book['isbn'] }}</td>
                                <td><a href="{{ url_for('books.book', id=book['id']) }}">{{ book['title'] }}</a></td>
                                <td>{{ book['author'] }}</td>
                                <td>{{ book['year'] }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                {% else %}
                    <p>No book was found! Please search again.</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}